$gray: #2e3038;
$lightgray: #adadad;
$button: #fbe850;

// TO DO:
// - Fix font duplication

*,
*:before,
*:after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #e5e5e5;
  color: white;
  font: {
    family: Inter;
    weight: 400;
    size: 18px;
  }
  line-height: 27px;
  //width: 100%;
}

.container {
  display: grid;
  width: 100%;
  max-width: 428px;
  /* height: 3404px; */
  margin: 0 auto;
  background-color: black;
}

.main-header {
  display: flex;
  width: 100%;
  max-width: 428px;
  height: 104px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.main-header__nav {
  line-height: 1;
  cursor: pointer;
  & img {
    width: 24px;
    height: 20px;
  }
}

.logo {
  font: {
    family: Prata;
    weight: 400;
    size: 18px;
  }
  line-height: 24px;
  color: #ffffff;
  width: 100%;
}

.btn {
  background-color: $button;
  width: 170px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //padding: 16px 32px;
  font-family: Prata;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.btn--removed {
  display: none;
}

.hero {
  width: 100%;
  max-width: 428px;
  padding: 0 20px;
  &__header {
    font-family: Prata;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 8px;
  }

  &__body {
    color: $lightgray;
  }
}

.companies {
  width: 100%;
  max-width: 388px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 80px 30px; // 80px 20px
  margin: 0 auto;
}

.projects {
  padding-bottom: 40px; // ??
  &__card {
    padding: 0 20px 56px 20px;
  }

  &__image {
    & img {
      margin: 0;
      width: 100%;
      max-width: 388px;
    }
  }

  &__header {
    font-family: Prata;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
    margin-top: 24px;
  }

  &__body {
    color: $lightgray;
  }
}

.co-founder {
  background-color: $gray;
  padding: 64px 20px;

  &__header {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
    padding-bottom: 12px;
  }

  &__body {
    color: $lightgray;
    & p {
      padding-bottom: 27px;
    }

    & p:nth-child(2) {
      padding-bottom: 80px;
    }

    & p:last-child {
      padding-bottom: 0;
    }
  }
}

.working {
  padding: 80px 20px;
  &__header {
    font-family: Prata;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
  }

  &__body {
    color: #adadad;
    padding-bottom: 16px;
  }
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  max-width: 428px;
  min-height: 72px;
  background-color: $gray;

  &__social {
    display: flex;
    & img {
      cursor: pointer;
      padding-left: 16px;
    }
  }
}
