*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #e5e5e5;
  color: white;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 768px;
  /* height: 3404px; */
  margin: 0 auto;
  background-color: black;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 768px;
  height: 104px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
}

.main-header__hamburger {
  line-height: 1;
  cursor: pointer;
}

.main-header__hamburger img {
  width: 24px;
  height: 20px;
}

.main-header__navlist {
  display: none;
}

.logo {
  font-family: Prata;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 100%;
}

.btn {
  background-color: #fbe850;
  width: 170px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Prata;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.btn--removed {
  display: none;
}

.hero {
  width: 100%;
  max-width: 768px;
  padding: 0 20px;
}

.hero__header {
  font-family: Prata;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 8px;
}

.hero__body {
  color: #adadad;
}

.companies {
  width: 100%;
  max-width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  padding: 80px 30px;
  margin: 0 auto;
}

.projects {
  padding-bottom: 40px;
}

.projects__card {
  padding: 0 20px 56px 20px;
}

.projects__image img {
  margin: 0;
  width: 100%;
  max-width: 768px;
}

.projects__header {
  font-family: Prata;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  margin-top: 24px;
}

.projects__body {
  color: #adadad;
}

.co-founder {
  background-color: #2e3038;
  padding: 64px 20px;
  color: #adadad;
}

.co-founder p {
  padding-bottom: 24px;
}

.co-founder__header {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  padding-bottom: 12px;
}

.co-founder__body1 p:last-child {
  padding-bottom: 80px;
}

.co-founder__body2 p:last-child {
  padding-bottom: 0;
}

.working {
  padding: 80px 20px;
  max-width: 543px;
}

.working__header {
  font-family: Prata;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
}

.working__body {
  color: #adadad;
  padding-bottom: 16px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 40px;
  max-width: 768px;
  min-height: 72px;
  background-color: #2e3038;
}

.main-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__social img {
  cursor: pointer;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    max-width: 1220px;
  }
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 768px;
    max-width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main-header__navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header__navlist ul {
    list-style: none;
    padding: 0;
    color: #adadad;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .main-header__navlist ul li {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
  }
  .hero {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 53px;
  }
  .hero__header {
    font-size: 56px;
    line-height: 72px;
  }
  .companies {
    max-width: 688px;
    max-width: 1220px;
    -webkit-column-gap: 97px;
            column-gap: 97px;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .projects__card {
    padding: 0 0 56px 0;
  }
  .projects__image img {
    max-width: 768px;
    max-width: 1220px;
  }
  .co-founder {
    padding-left: 40px;
    padding-right: 40px;
  }
  .working {
    margin-left: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .btn--removed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-header__hamburger {
    display: none;
  }
  .main-footer {
    max-width: 768px;
    max-width: 1220px;
  }
}

@media screen and (min-width: 1210px) {
  .container {
    max-width: 1440px;
  }
  .main-header {
    max-width: 1440px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .hero {
    max-width: 890px;
    padding-left: 150px;
  }
  .hero__header {
    font-size: 56px;
    line-height: 72px;
  }
  .companies {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
  }
  .projects {
    padding-left: 150px;
    padding-right: 150px;
  }
  .projects__card {
    padding: 0 0 56px 0;
  }
  .projects__image img {
    max-width: 1440px;
  }
  .co-founder {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
  }
  .working {
    margin-left: 150px;
    padding-left: 0;
    padding-right: 0;
  }
  .main-footer {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1440px;
  }
}
/*# sourceMappingURL=app.css.map */